
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body{
    background-color: black;
    color:white;
    font-family: 'Syne', sans-serif;
}

nav{
/* background-color:#fff; */
border:none;
border-radius: 15px;
width:100%;


}

#navbar {
    position: fixed;
    top: 0;
    z-index: 1000; 
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: end;
    margin:0px;
    padding: 0px;
   
    
}

li {
    background-color: #fff;
    display: inline;
    margin-right: 0px;
    padding: 15px;
    font-family: Arial;
    width:100px;
    font-size: 15px;
   
    }

    

li a {
    background-color: white;
    color: black; /* Change the text color as per your preference */
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none; 
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

li a:hover{
    color:thistle
}


a:hover{
    color:white;
}

p a{
    color: aqua;
}

span {
    margin-left: 8px; /* Adjust this value to control the spacing */
}

.dropbtn{
    position:relative;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 125px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index:2;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 0%;
    display: block;
  }

  .dropdown-content a:hover{
    color: thistle;
}
  
  .show {display:block;}

#about-section{
    margin-top: 70px;
}

img{
    width: 400px;
}
.images{
    display: flex;
    justify-content: space-between;
}
.project{
    text-align: center;
    margin: 0px;
}
#project-title{
    font-size:26px;
    font-family: 'DM Serif Display', serif;
 
}
.projects #project-title{
    margin: 0%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.socials {
    text-align: center;

}

.socials p {
    margin-top:35px; 
    font-size: 20px;
}

.socials button {
    margin: 15px;
    font-size: 15px;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: 'DM Serif Display', serif;
    padding: 8px 16px;
}

.socials button:hover{
    color:rgba(121, 85, 171);
    background-color: #fff;
    border:3px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: none;
}
.socials button{
    background-color: #000;
    border:0.2px solid purple;
    border-radius: 10px;
    color:#fff;
    box-shadow: 0 0 20px 0 purple,
                0 0 20px 0 purple,
                0 0 10px 0 purple inset;
}

figure{
    margin-top: 50px;;
    width:336px;
    height:303px;
    position: relative;
    background-color: #eaeaea;
    padding: 15px;

   
}
figure img{
    width:100%;
   
}
figcaption{
    color: #000;
    font-family: cursive;
    text-align: center;
    margin-top: 13px;
}
figure:before,
figure:after{
    content: '';
    position:absolute;
    height: 50px;
    width: 150px;
    background-color: rgba(102,102,102,0.6);
    transform:rotate(-40deg);
}
figure:before{
    top:3px;
    left:-55px;

}

figure:after{
    bottom:3px;
    right:-60px;

}
#myphotocontainer{
    display: none;
}


@media screen and (max-width:768px){
    body{
        background-color: red;
    }
    .images{
        display:inline-block;

    }
    .project{
        text-align:justify;
        margin: 0px;
    }
    ul{
        justify-content: start;
        margin: 0px;
        padding: 0px;
    }
    #project-title{
        font-size: 24px;
      
    }
    .projects #project-title{
        margin: 0%;
    }

    footer {
        display:inline-flex;
        justify-content: flex-start;
        align-items:start;
        height: 100%;
    }
    
    .socials button {
    margin: 3px;
    font-size: 12px; 
    font-family: 'DM Serif Display', serif;
    padding: 8px 16px;
    
    }


    
figure{
    margin-top: 50px;
    width:336px;
    height:303px;
    position: relative;
    background-color: #eaeaea;
    padding: 15px;

   
}
figure img{
    width:100%;
   
}
figcaption{
    color: #000;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
figure:before,
figure:after{
    content: '';
    position:absolute;
    height: 50px;
    width: 150px;
    background-color:#6e9975;
    transform:rotate(-40deg);
}
figure:before{
    top:3px;
    left:-55px;

}

figure:after{
    bottom:3px;
    right:-60px;

}
.socials button{
    box-shadow: none;
        background-color: #000;
        border:none;
        border-radius: 10px;
        color:#fff;
}
.socials button:hover{
    background-color:#fff;
    color: #000;
    border:none;
    box-shadow: none;
    border-radius: 10px;

}

}

@media screen and (min-width: 769px) {
   /* Apply styles only when "About" button is clicked */
.about-clicked .figure {
    border: 2px dotted #fff;
    padding: 2px;
    position: absolute;
    margin: 0;
    animation: animator 10s ;
}

.about-clicked .socials {
    border: 2px solid white;
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 70px;
}

.about-clicked footer {
    display: float;
    justify-content: none;
    align-items: none;
    height: 100%;
}

.about-clicked .chaotic-about {
    display: flex;
}
@keyframes animator {
    0%{
        border:none;
    }
    50%{

        border: 2px dotted thistle;
    }
    75%{
        border: 2px groove #28994e;
        border-radius: 20px;
    }
    100%{
        border:2px groove white;
    }
    
}


}






